---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=abcdef&appsecret_proof=e2a06bb99f69065441421650c95b01ecc5595c317cc21bf70f0a5b270171b01c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"DXOSexwa5Zh"}}'
  recorded_at: Wed, 11 Apr 2018 16:56:39 GMT
recorded_with: VCR 4.0.0
